PORT=6969
PRODUCTION=false


REDIS_HOST=redis-17220.c284.us-east1-2.gce.cloud.redislabs.com
REDIS_PASSWORD=BAp0sXu46TIqlsdsRTq4vYrl3xXEwYng
REDIS_PORT=17220

CN_NAME=duv5zds4h 
CN_API_KEY=744258493165632 
CN_API_SECRET=kySwx0jZQzTKCJeu8K6o_zq3s00

CDN_URL=https://res.cloudinary.com/duv5zds4h/image/upload/v1630482391/travelouge
FIRESTORE_EMULATOR_HOST=0.0.0.0:8080
LOCAL_URL=src/cloudLocal/

TOKEN_SECRET=c1s9K2AmfDM6LlEnfSllN3N9T1Q3YjYi
DATABASE_URL="postgresql://shlok:shlok@localhost:5432/travelouge?connect_timeout=300"