.card-root{
    width: 250px;
    min-height: 300px;
    margin: 5px;
}

.card-root1{
    width: 250px;
    min-height: 300px;
}

.card-title{
    font-size: 25px;
    font-weight: 500;
    color: white;
    text-align: center;
    margin: 5px;
}

.card-description{
    font-size: 20px;
    color: #e4e4e4;
    text-align: center;
    margin: 10px;
}

.card-root img{
    height: 250px;
    width: 250px;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}