.post-main {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.postTitle{
    font-size: 50px;
    font-weight: bold;
    color: white;
}

.postForm {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    color: white;
}

.postInput {
    height: 40px;
    background: transparent;
    font-size: 20px;
    /* border-style: solid; */
    border: none;
    color: white;
    text-align: center;
}

.postInput:focus {
    border: none;
    box-shadow: 0px 0px 10px #b2bdcd
}