.register-main {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.regInput{
    height: 40px;
    background: transparent;
    font-size: 20px;
    /* border-style: solid; */
    border: none;
    color: white;
    text-align: center;
}

.regInput :focus {
    box-shadow: 0px 0px 10px #b2bdcd;
    border: none;
}


.regForm{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    color: white;   
}

.regTitle{
    font-size: 50px;
    font-weight: bold;
    color: white;
}