.profile-name {
    font-size: 40px;
    text-align: center;
    color: white;
}

.profile-bio {
    font-size: 20px;
    color: grey;
    text-align: center;
}

.profile-main img{
}

.pstMain {
    margin: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.profilePhoto{
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}